[Desktop Entry]
Encoding=UTF-8
Name=CoqIDE
Comment=Graphical interface for the Coq proof assistant
Exec=/usr/bin/coqide
Type=Application
Categories=Application;Development;Science;Math;IDE;GTK;
Terminal=false
Icon=coq.xpm
