#!/usr/bin/make -f
# debian/rules for coq

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Build cache (for accelerating Debian debugging)
BUILDCACHE := $(wildcard ../coq.cache)

# This has to be exported to make some magic below work.
export CAML_LD_LIBRARY_PATH = $(shell pwd)/kernel/byterun

# Show full commands when building Coq
export VERBOSE=1

include /usr/share/ocaml/ocamlvars.mk

DESTDIR := $(CURDIR)/debian/tmp
ADDPREF := DESTDIR=$(DESTDIR)

PACKAGES := $(shell dh_listpackages)

COQ_VERSION := v8.14
COQ_ABI := $(COQ_VERSION)+$(OCAML_ABI)

CONFIGUREOPTS := -arch Linux -prefix /usr -mandir /usr/share/man \
  -configdir /etc/xdg/coq \
  -docdir /usr/doc \
  -browser "/usr/bin/x-www-browser %s &" \
  -with-doc no

export OCAMLINIT_SED += \
  -e 's%@CoqVersion@%$(COQ_VERSION)%' \
  -e 's%@CoqABI@%$(COQ_ABI)%'

%:
	+dh $@ --with ocaml

# There is already a file named "build" in upstream sources, so the
# above rule is never called. We make it explicitly a phony rule here.
.PHONY: build
build:
	+dh $@ --with ocaml

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	ocamlfind query -format "%v" lablgtk3 || true
	./configure $(CONFIGUREOPTS)

.PHONY: override_dh_auto_build
override_dh_auto_build:
ifeq ($(BUILDCACHE),)

# VALIDOPTS are the options given to coqchk; the value given here is
# the default one without -silent (-silent maybe cause buildd to
# timeout because of lack of output)

	$(MAKE) world STRIP=true
	$(MAKE) doc-stdlib-html
else
	rsync -a --exclude=debian --exclude=.git $(BUILDCACHE)/ .
endif
# Check that $(COQ_VERSION) has the right value
#	ACTUAL_COQ_VERSION="$$(./bin/coqc --version | awk '/version/{print $$6}')"; \
#	if [ "$$ACTUAL_COQ_VERSION" != "$(COQ_VERSION)" ]; then \
#	  echo "Please set COQ_VERSION to $$ACTUAL_COQ_VERSION in debian/rules"; \
#	  exit 2; \
#	fi

.PHONY: override_dh_auto_test
override_dh_auto_test:

.PHONY: override_dh_auto_install
override_dh_auto_install:
	$(MAKE) $(ADDPREF) install
	find debian/tmp -regextype posix-awk \
	  -regex '.*\.(cm[xiot]|cmxa|cmti|mli|ml|[ao])$$' \
	  >> debian/libcoq-ocaml-dev.install
	find debian/tmp -regextype posix-awk \
	  -regex '.*\.(vo|vos|v|glob)$$' -printf '%P\n' \
	  >> debian/coq-theories.install
	find debian/tmp -name '*.cma' -printf '%P\n' \
	  >> debian/libcoq-ocaml.install
	find debian/tmp -name '*.cmxs' -printf '%P\n' \
	  >> debian/libcoq-ocaml.install

.PHONY: override_dh_install
override_dh_install:
	dh_install --fail-missing
	cp debian/coq.xpm debian/coqide/usr/share/pixmaps/coqide.xpm

.PHONY: override_dh_gencontrol
override_dh_gencontrol:
	for u in $(PACKAGES); do \
	  echo 'F:OCamlABI=$(OCAML_ABI)' >> debian/$$u.substvars; \
	  echo 'F:CoqABI=$(COQ_ABI)' >> debian/$$u.substvars; \
	done
	dh_gencontrol
